@import url('../../variaveisCSS/variaveis.css');

body {
    font-family: "Outfit", sans-serif;
    margin: 20px;
    background-color: var(--background-padrão);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* HEADER */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--cinza-padrão);
    height: 50px;
}

.Logo {
    color: var(--azul-padrão);
    font-weight: bold;
    border-right: 2px solid var(--cinza-padrão);
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


a {
    color: var(--cinza-padrão);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: var(--azul-padrão);
    }
}

header input {
    margin-right: 20px;
    height: 25px;
    border-radius: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-shadow: 0 0 5px var(--azul-padrão);
}

/* FORMULARIO */

.formulario-container {
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 700px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.inputs-formulario {
    display: flex;
    gap: 10px;
}

.inputs-formulario input {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 250px;
    border: 2px solid var(--cinza-padrão);
    border-radius: 0;
    outline: none;
    padding-left: 10px;
    box-shadow: none;
}

.botoes-formulario {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.botoes-formulario button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 80px;
}

#limpar-btn {
    background-color: var(--cinza-padrão);
    color: var(--background-padrão);
    border: none;

    &:hover {
        background-color: var(--background-padrão) ;
        color: var(--cinza-padrão);
        border: 2px solid var(--cinza-padrão);
    }
}

#enviar-btn {
    background-color: var(--azul-padrão);
    color: var(--background-padrão);
    border: none;

    &:hover {
        background-color: var(--background-padrão) ;
        color: var(--azul-padrão);
        border: 2px solid var(--azul-padrão);
    }
}

.feedback-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.feedback-form{
    z-index: 1000;
    position: absolute;
    animation-name: entrada;
    animation-duration: 2s;
    display: flex;
    align-items: center;
    background-color: var(--azul-padrão);
    color: var(--azul-escuro);
    padding: 10px;
    width: 200px;
    margin: 25px;

    span{
        margin: 2px;
        color: var(--azul-escuro);
    }
}

@keyframes entrada{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }

}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--cinza-padrão);
    height: 50px;
}